*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(
    to right bottom,
    $secondary-color,
    $primary-color
  );
  min-height: 100vh;

  color: $text-color;
}
